* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Body edit */
body {
    color: #ffffff;
    background: rgb(204, 201, 220);
    overflow-x: hidden;
    /*background:linear-gradient(45deg, #cdced4, #797794, #695f74, #4a7565, #0e0d0f);*/
}

/* Style for NavBar*/
.nav {
    height: 50px;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.863);
    box-shadow: 0 8px 32px 0 rgba(29, 30, 41, 0.37);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 5px;
    text-align: right;
}

.nav .nav-header {
    display: inline;
}
.nav-title{
    float: left;
}
.nav .nav-header .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav .nav-links a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    color: #f8f8f8;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.nav .nav-links a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: #45a049;
}

.nav .nav-btn,
.nav #nav-check {
    display: none;
}

main{
    width: 100vw;
    height: 100vh;
       
}

/* estilizacao dos cards de imagens*/

#project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0 4rem 0;
    margin-left: auto;
    margin-right: auto;
    
   
}

.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
   
}

.wrapper-adress{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80rem;
    height: 10rem;
    padding:  1rem;
    color: rgb(255, 254, 254);
    background: rgba(0, 0, 0, 0.781);
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
   

}
.wrapper-stack{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    font-size: 4rem;
    color: black;

}
.html{
    color: orange;

}
.css{
    
    color: blue;
}

.js{
    color: yellow;
}
.react{
    color: blueviolet
}
.node{
    color: #45a049;
}
.git{
    color: white;
}

.project-card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    color: black;
    background-color:rgba(182, 177, 212, 0.75);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding:  1rem;
    -webkit-box-shadow: 10px 10px 10px 10px rgba(242, 226, 226, 0.75);
    -moz-box-shadow: 10px 10px 10px 10px rgba(242, 226, 226, 0.75);
    box-shadow: 10px 10px 10px 10px rgba(242, 226, 226, 0.75);
    border-radius: 15px;
    width: 50vw ;
    height: 40vh;
}
 .card1{
    margin-left: 32rem;
 }
 .card2{
    margin-left: -32rem;
    flex-direction: row-reverse;
    justify-content: space-around;
 }

.card-img{
    width: 40vw;
    height: 40vh;
    margin-top: 1rem;

}









footer {
    display: block;
    border-collapse: collapse;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.863);
    box-shadow: 0 8px 32px 0 rgba(29, 30, 41, 0.37);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: #fff;
    padding: 15px;
    font-size: .9rem;
    text-align: center;
}



























/* Section project 

.parallax-container {
    perspective: 1px;
    height: 700px;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;

}

.parallax-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('assets/background1.jpg');
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: 150%;

}

.parallax-background {
    animation: move-left-to-right 60s linear infinite;
}
*/




