* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Body edit */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* garante que o conteúdo da página tenha altura mínima de 100% da altura da viewport */
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
    background: rgb(236, 235, 241);
    overflow-x: hidden;
   /*background:linear-gradient(45deg, #cdced4, #797794, #695f74, #4a7565, #0e0d0f);*/
}

main{
    width:100vw;
    height: 100vh;
    flex: 1;
}

/* Style for NavBar*/
.nav {
    height: 50px;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.863);
    box-shadow: 0 8px 32px 0 rgba(29, 30, 41, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 5px;
    text-align: right;
    z-index: 9999;
}

.nav .nav-header {
    display: inline;
}

.nav .nav-header .nav-title {
    display: inline-block;
    font-size: 15rem;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav .nav-links {
    display: inline;
    float: right;
    font-size: 1rem;
}

.nav .nav-links a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    color: #f8f8f8;
    text-decoration: none;
    font-size: 1rem;
    border-right: 1px solid rgba(236, 235, 241, 0.671);
    cursor: pointer;
}

.nav .nav-links a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: #45a049;
}

.nav .nav-btn,
.nav #nav-check {
    display: none;
}

/* Information about me */
#about{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background-color: rgba(7, 11, 14, 0.925);
    width: 100vw;
    height: 100vh;
    z-index: 01;
    
}
.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
    
   
    
}
.wrapper-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 50vh;
    

}
.will1 {
    width: 25rem;
    height: 25rem;
    border-radius: 400px;
    background-color: rgb(52, 99, 160);
    transform: rotate3d(1, 1, 0, 10deg);
    transition: transform 2s;
    filter: drop-shadow(8px 8px 10px #222);
    z-index: 5;

}

.will1:hover {
    opacity: 0.7;
    filter: sepia(100%);
}
.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-left: 3rem;
    font-size: 2rem;
}

.wrapper-presentation{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:start;
    color: rgb(255, 255, 255);
    padding: 5px;
    z-index: 3;
    height: 20vh;
    width: 28vw;
    

}

.yellw {
    color: rgb(251, 255, 3);
}

.brand-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     /*background-color: rgba(7, 7, 7, 0.5);*/
    
}

.brand-list {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly ;
    align-items: start;
    z-index: 999;
    font-size: 60px;
    height: 50vh;
    width: 20vw;
}




.brand-link {
    text-decoration: none;
    color: rgb(251, 255, 3);
   

}

.brand-link:hover {
    cursor: pointer;
    color: #552879;
}

/* estilizando about me */

.descreption{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background-color: rgba(7, 11, 14, 0.699);
    width: 100vw;
    height: 100vh;
   

}
.wrapperDescricao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80vw;
    padding: 20px;

}

.profile {
    width: 30vw;
    height: 70vh;
    padding: 20px;

}
.insta{
    color: black;
}

.buttonInsta{
    color: rgb(51, 48, 48);
    font-weight: 600;
    background: rgba(167, 163, 163, 0.644);
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    
}

.text-profil {
    margin-top: 15px;
    padding: 20px;
    font-size: 16px;
    text-align: justify;
}

.text-descricao{
    margin-top: 15px;
}

/* estilizacao dos cards de imagens*/

#project {
    display: flex;
    background-color: rgba(7, 11, 14, 0.925);
    width: 100vw;
    height: 140vh;
    z-index: 1;
    
   
}

.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
   
}

.wrapper-adress{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100vw;
    height: 10rem;
    padding:  1rem;
    color: rgb(255, 254, 254);
    background: rgba(0, 0, 0, 0.781);
    margin-bottom: 1rem;
    border-radius: 10px;
   

}

.linha{
    color: rgba(172, 147, 9, 0.226);
    width: 80vw;
    size: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}
.wrapper-stack{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    font-size: 4rem;
    color: black;

}
.html{
    color: orange;

}
.css{
    
    color: blue;
}

.js{
    color: yellow;
}
.react{
    color: blueviolet
}
.node{
    color: #45a049;
}
.git{
    color: rgb(34, 26, 110);
}


.wrapper-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    max-width: 90vw;
    height: 90vh;
    gap: 1rem;
    
}
.project-card{
    flex-basis: calc(20% - 10px);
    margin: 10px;
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding:  1rem;
    width: 40vw ;
    height: 40vh;
}
 

.card-img{
    width: 25vw;
    height: 25vh;
    

}
.card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    bottom: 0;
    width: 25vw;
    height: 45vh;
    border-radius: 10px;
    background-color:rgba(182, 177, 212, 0.75);
}

footer {
    display: flex;
    flex-direction: column;
    position: static;
    height: 1rem;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.863);
    box-shadow: 0 8px 32px 0 rgba(29, 30, 41, 0.37);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: #fff;
    padding: 15px;
    font-size: .9rem;
    text-align: center;
}

@media (max-width: 680px), screen and (orientation: portrait) {
    body {
        display: block;

    }
  main{
        width: 100vw;
        height: 100vh;
    }
    
    
  

    /* mudar a posicao do navbar*/
    .nav .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
        cursor: pointer;
        z-index: 999;
    }

    .nav .nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav .nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
      /*  background-color: rgba(0, 0, 0, 0.3);*/
      cursor: pointer;
      
    }

    .nav .nav-btn label span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y:scroll;
        top: 50px;
        left: 0px;
    }

    .nav .nav-links a {
        display: block;
        width: 90vw;
        
    }

    .nav #nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav #nav-check:checked~.nav-links {
        height: 50vh;
        overflow-y: auto;
    }
    
    /* Information about me */
    /* Information about me */
#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(7, 11, 14, 0.925);
    width: 100vw;
    height: 100vh;
    z-index: 01;
    
}
.about {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
    
    
   
    
}
.wrapper-about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
    

}
.will1 {
    width: 20rem;
    height: 20rem;
    border-radius: 400px;
    background-color: rgb(52, 99, 160);
    transform: rotate3d(1, 1, 0, 10deg);
    transition: transform 2s;
    filter: drop-shadow(8px 8px 10px #222);
    z-index: 5;

}

.will1:hover {
    opacity: 0.7;
    filter: sepia(100%);
}
.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-left: 3rem;
    font-size: 1.5rem;
}

.wrapper-presentation{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:start;
    color: rgb(255, 255, 255);
    padding: 5px;
    z-index: 3;
    height: 20vh;
    width: 100vw;
    

}

.yellw {
    color: rgb(251, 255, 3);
}

.brand-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     /*background-color: rgba(7, 7, 7, 0.5);*/
    
}

.brand-list {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly ;
    align-items: start;
    z-index: 999;
    font-size: 60px;
    height: 10vh;
    width: 100vw;
}




.brand-link {
    text-decoration: none;
    color: rgb(251, 255, 3);
   

}

.brand-link:hover {
    cursor: pointer;
    color: #552879;
}

/* estilizando about me */

.descreption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(7, 11, 14, 0.699);
    width: 100vw;
    height: 100vh;
   

}
.wrapperDescricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    padding: 20px;

}

.profile {
    width: 70vw;
    height: 45vh;
    padding: 20px;

}
.insta{
    color: black;
}

.buttonInsta{
    color: rgb(51, 48, 48);
    font-weight: 600;
    background: rgba(167, 163, 163, 0.644);
    text-decoration: none;
    padding: 10px;
    margin: 1rem;
    border-radius: 5px;
    
}

.selo{
    width: 80vw;
    text-align: right;
}

.text-profil {
    margin-top: 1rem;
    padding: 20px;
    font-size: 16px;
    text-align: justify;
}

.text-descricao{
    margin-top: 15px;
}
   
/* projeto*/
.wrapper-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    max-width: 90vw;
    height: 90vh;
    gap: 1rem;
    
}
.project-card{
    flex-basis: calc(100% - 10px);
    margin: 10px;
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding:  1rem;
    width: 40vw ;
    height: 40vh;
}
 

.card-img{
    width: 80vw;
    height: 25vh;
    

}
.card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    bottom: 0;
    width: 80vw;
    height: 45vh;
    border-radius: 10px;
    background-color:rgba(182, 177, 212, 0.75);
}

footer {
    display: block;
    border-collapse: collapse;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #020202;
    font-size: 10px;
    color: #fff;
    padding: 10px;
    text-align: center;
}

}
